.gradle
.idea
.nb-gradle
.vscode
.history

**/.classpath
**/.DS_Store
**/.ivy
**/.project
**/.sass-cache
**/.settings
**/*.iml
**/*.swp
**/*~
**/bin
**/build
**/build_gradle
**/classes
**/dist
**/liferay-theme.json
**/node_modules
**/out/**
**/reasonFile
**/soy.js
**/test-coverage
**/tmp

artifacts
bundles
logs/*

modules/**/generated/**

plugins-sdk/**/classes
plugins-sdk/**/ivy.xml.MD5
plugins-sdk/**/liferay-hook.xml.processed
plugins-sdk/dependencies/**/*.jar
plugins-sdk/dist
plugins-sdk/lib